/* @tailwind base;
@tailwind components;
@tailwind utilities;  */

@keyframes colorChange {
  0% {
    background-color: rgb(236, 236, 236);
  }
  50% {
    background-color: rgb(164, 164, 164);
  }
  100% {
    background-color: rgb(236, 236, 236);
  }
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app{
  padding: 30px 20px 0px;
}

div#button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

button#fox-add {
  padding: 10px;
  background-color: #8fb9de;
  cursor: pointer;
}

#foxes-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

div.fox-item {
  min-width: 200px;
  width: 300px;
  height: 300px;
  background-color: grey;
  animation: colorChange 1s infinite ;

}

img.fox-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 

